	@charset "utf-8";
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Bitter:700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:95vh;
	background-image:url("../image/bg.png");
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
nav{
	display:flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#FFFFFF;
	box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
	padding:0px 5%;
	position: sticky;
}
nav ul{
	display:flex;
}
nav ul li a{
	margin:30px;
	font-family: calibri;
	color:#505050;
	font-size:15px;
	font-weight:700;
}
.logo{
	font-family: calibri;
	color:#000000;
	font-size:22px;
}
.active{
	font-weight:bold;
	color:#2d2a2a;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#6d6d6d;
	font-size:22px;
	
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight:bold;
	letter-spacing:1px;
	color:#1a1a1a;
	font-size:50px;
}
.text-container p:nth-child(3){
	font-family: calibri;
	color:#403e3e;
	font-size:30px;
	line-height:30px;
}
.text-container p{
	line-height:0px;
	margin:45px 0px 25px;
}
.text-container{
	position: absolute;
	left:28%;
	top:26%;
	transform:translate(-13%, -42%);
}
.text-container button{
	width:130px;
	height:42px;
	border-radius:10px;
	font-family:calibri;
	font-weight:bold;
	font-size:14px;
	outline:none;
	margin:0px 10px;
}
.hire-btn{
	border:2px solid #373636;
	color:#373636;
}
.down-cv{
	background-color:#0b0b0b;
	color:#FFFFFF;
	border:none;
}
button:active{
	transform:scale(1.1);
}.model{
	height: 250px;
	position:absolute;
	bottom:0px;
	border-radius:20%;
	left:20%;
	top:15%;
	transform:translateX(-70%);
}
.about-container{
	width:80%;
	height:375px;
	background-color:#FFFFFF;
	border-radius:20px;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	display:flex;
	margin:-7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.about-container img{
	height: 250px;
}
.about-text{
	width:550px;
}
.about-text p:nth-child(1){
	color:403e3e;
	font-family: calibri;
	font-weight:bold;
	font-size:28px;
	line-height:0px;
}
.about-text p:nth-child(2){
	color:#3e3d3d;
	font-size:16px;
	font-family: calibri;
	font-weight: bold;
	line-height:5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color:#7e7d7d;
	font-family:calibri;
	font-size:16px;
}
.my-works{
	width:170px;
	height:42px;
	border-radius:10px;
	font-weight:bold;
	font-size:14px;
	outline:none;
	margin:0px 10px;
	background-color:#0b0b0b;
	color:#FFFFFF;
	border:none;
}
.services{
	height:600px;
	background-color:#FFFFFF;
	padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#3e3d3d;
	font-size:30px;
	line-height:0px;
}
.services-text p:nth-child(2),
.services-text p:nth-child(3){
	font-family:calibri;
	font-weight:bold;
	color:#3e3d3d;
	font-size:15px;
	line-height:5px;
}
.services-text{
	width:500px;
	margin:50px 0px;
}
.box-1,.box-2,.box-3{
	width:300px;
	height:320px;
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow:2px 2px 12px rgba(0,0,0,0.3);
	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}
.box-container{
	display:flex;
	justify-content:space-between;
}
.box-1{
	background-image: url("../image/services-1.png");
}
.box-2{
	background-image: url("../image/services-2.png");
}
.box-3{
	background-image: url("../image/services-3.png");
}
.box-1 span,
.box-2 span,
.box-3 span{
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#FFFFFF;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:calibri;
	font-weight:bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#FFFFFF;
	font-family:calibri;
	font-size:23px;
	line-height:0px;
	}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	text-align:center;
	width:230px;
	margin:0px 0px 20px 0px;
	color:#8f8f8f;
}
.contact-me{
	width:100%;
	height:200px;
	background-image: url("../image/project in your mind.png");
	background-size:cover;
	background-repeat:no-repeat;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.contact-me p{
	color:#FFFFFF;
	font-size:30px;
	font-family:calibri;
	font-weight:bold;
	border-bottom:2px;
	margin:0px 0px 30px 0px;
}
footer{	
	height:45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
footer p{
	font-family:calibri;
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
<!--.social-icons a{
	width:50px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:0px 10px;
	border-radius:50%;
}-->
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#FFFFFF;
	transition:all ease 0.5s;
}
.down-cv a:link,
.down-cv a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.down-cv  a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.down-cv  a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.hire-btn a:link,
.hire-btn a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.hire-btn a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.hire-btn a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
